.stickyHeaderContainer {
  background-color: var(--background);
  width: 100vw;
  margin-left: calc(50% - 50vw);
  position: sticky;
  top: 0;
  z-index: 100;
}

.header {
  padding-block: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  transition: padding-block 0.3s;
}

.scrolled {
  padding-block: 15px;
}

.logoContainer {
  width: 206px;
  display: flex;
  justify-content: flex-start;
}

.ctaButtons {
  display: flex;
  gap: 15px;
}

.mobileMenuButtons {
  display: flex;
  display: none;
}

/* MOBILE */

@media screen and (max-width: 750px) {
  .ctaButtons {
    display: none;
  }
  .scrolled {
    padding-block: 10px;
  }
}
