.button {
  border-radius: 50px;
  padding-inline: 24px;
  padding-block: 10px;

  font-weight: 700;
  font-size: 15px;

  transition: all 0.3s;
}

.dark {
  background-color: var(--primary-light);
  color: var(--yellow);
}

.light {
  background-color: var(--yellow);
  color: var(--primary-dark);
}

.dark:hover,
.light:hover {
  background-color: white;
  color: var(--primary-dark);
}
