.header {
  padding-block: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: relative;
}

.logoContainer {
  width: 206px;
  display: flex;
  justify-content: flex-start;
}

.ctaButtons {
  display: flex;
  gap: 15px;
}

.mobileMenuButtons {
  display: flex;
  display: none;
}

/* MOBILE */

@media screen and (max-width: 750px) {
  .ctaButtons {
    display: none;
  }
  .mobileMenuButtons {
    display: flex;
  }
}
