.navbar ul {
  padding: 0;
  list-style-type: none;
  display: flex;
  gap: 30px;
  /* justify-content: space-between; */
}

.active {
  font-weight: bold;
}

.navbar a {
  position: relative;
}

/* testing paw icon for active link */
/* 
.active::after {
  content: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJsdWNpZGUgbHVjaWRlLXBhdy1wcmludCI+PGNpcmNsZSBjeD0iMTEiIGN5PSI0IiByPSIyIi8+PGNpcmNsZSBjeD0iMTgiIGN5PSI4IiByPSIyIi8+PGNpcmNsZSBjeD0iMjAiIGN5PSIxNiIgcj0iMiIvPjxwYXRoIGQ9Ik05IDEwYTUgNSAwIDAgMSA1IDV2My41YTMuNSAzLjUgMCAwIDEtNi44NCAxLjA0NVE2LjUyIDE3LjQ4IDQuNDYgMTYuODRBMy41IDMuNSAwIDAgMSA1LjUgMTBaIi8+PC9zdmc+");
  position: absolute;
  right: -30px;
  top: -5px;
} */

.navItem {
  position: relative;
}

.navbar .subLinks {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-block: 20px;
  padding-inline: 15px;

  position: absolute;
  top: 21px;
  width: 200px;
  /* display: none; */
  border: 1px solid black;
}

.navItem:hover .subLinks,
.subLinks:hover {
  display: flex;
}
