.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5;
  pointer-events: auto;
  opacity: 0;
  transition: opacity 1s;
}

.mobileMenuButtons {
  display: none;
}

.navbar {
  position: relative;
  z-index: 10;
}

.navbar ul {
  padding: 0;
  list-style-type: none;
  display: flex;
  gap: 30px;
  /* justify-content: space-between; */
}

.active {
  font-weight: bold;
}

.navItem {
  position: relative;
}

.navbar .subLinks {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;

  position: absolute;
  left: 50%;
  top: 100%;
  width: 150px;
  padding-top: 5px;

  transform: translate(-50%, -10px);
  transition: transform 0.3s ease, opacity 0.3s ease;
  opacity: 0;
  z-index: -1;

  pointer-events: none;
}

.navItem:hover .subLinks,
.subLinks:hover {
  z-index: 10;
  transform: translate(-50%, 0px);
  opacity: 1;
  pointer-events: auto;
}

/* MOBILE */
@media screen and (max-width: 750px) {
  .navbar {
    position: absolute;
    top: 56px;
    background-color: antiquewhite;
    transition: all 0.2s ease-in-out;
    text-align: center;
    text-align: left;

    border: 1px solid black;
  }
  .mobileMenuButtons {
    display: flex;
    z-index: 15;
  }
  .navbar ul {
    flex-direction: column;
    gap: 10px;
  }
  .navbar .subLinks {
    align-items: flex-start;
    padding-left: 20px;
    min-width: 200px;
    opacity: 1;
    position: static;
    transform: translateX(0);
    text-align: left;
  }
  .navItem:hover .subLinks,
  .subLinks:hover {
    transform: translateX(0);
    z-index: unset;
  }
  .menuOpened {
    left: 100%;
    transform: translateX(-100%);
    display: block;
  }
  .menuClosed {
    left: 200%;
  }
}
