.stickyHeaderContainer {
  background-color: var(--background);
  width: 100vw;
  padding-block: 15px;
  margin-left: calc(50% - 50vw);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  transition: transform 0.3s ease, opacity 1s ease;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header nav button {
  display: none;
}

.show {
  transform: translateY(0);
  opacity: 1;
}

.hide {
  transform: translateY(-100%);
  opacity: 0;
}

.logoContainer a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.logoContainer a svg {
  transition: all 0.3s;
}

.logoContainer a:hover svg {
  transform: scale(1.2);
}

.logoContainer svg {
  transition: fill 0.3s;
}

.ctaButtons {
  display: flex;
  gap: 15px;
}

.mobileMenuButtons {
  display: flex;
  display: none;
}

/* MOBILE */

@media screen and (max-width: 1160px) {
  .ctaButtons {
    display: none;
  }
}

@media screen and (max-width: 860px) {
  .ctaButtons {
    display: none;
  }
  .writtenLogo {
    display: block;
  }
  .header nav button {
    display: flex;
  }
}
