.comeFunzionaContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
  margin-block: 50px;
}

.imagesSection {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

.wideImage {
  grid-column: span 2;
  margin-inline: auto;
  align-self: flex-end;
}

.narrowImage {
  align-self: flex-start;
}

.additionalImage {
  display: none;
}

.imgContainer {
  border-radius: 30px;
  overflow: hidden;
}

.imagesSection img {
  object-fit: cover;
  height: auto;
}

@media screen and (max-width: 1260px) {
  .imagesSection {
    margin-bottom: auto;
  }
  .additionalImage {
    display: block;
  }
}

@media screen and (max-width: 900px) {
  .comeFunzionaContainer {
    display: block;
    margin-block: 25px;
  }
  .imagesSection {
    height: 420px;
    align-items: center;
    margin-bottom: 25px;
    gap: 15px;
  }

  .imgContainer {
    height: 200px;
    overflow: hidden;
    border-radius: 15px;
  }
  .imagesSection .imgContainer img {
    object-fit: cover;
    height: 200px;
    overflow: hidden;
  }
  .additionalImage {
    display: none;
  }
}
