.previewCardContainer {
  border: 1px solid black;
}

.imageContainer {
  max-width: 300px;
  max-height: 250px;
  overflow: hidden;
}

.imageContainer img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
