.boneOne {
  position: absolute;
  top: 450px;
  right: -150px;
  fill: var(--accent-one);
  opacity: 0.5;
  /* opacity: 0; */
  transform: rotate(10deg);
  /* z-index: -1; */
  display: hidden;
}

@media screen and (max-width: 1000px) {
  .boneOne {
    display: none;
  }
}
