.heroContainer {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;

  height: calc(100vh - 75px);
  max-height: 700px;
}

.textContainer {
  flex: 1 1 50%;
  min-width: 300px;
  max-width: 40ch;
}

.heroImgContainer {
  flex: 2 1 50%;
  max-height: calc(100vh - 75px);
  display: flex;
  position: relative;
  overflow: hidden;
}

.heroImgContainer img {
  object-fit: contain;
  max-height: 700px;
  width: 100%;
  margin-left: auto;
}

.blob {
  position: absolute;
  top: 0;
  z-index: -1;
}

.section2 {
  max-width: var(--max-width);
  padding-inline: var(--padding-inline-max-width);
  padding-bottom: 5000px;
  margin-inline: auto;
  color: var(--text-dark);
  position: relative;
  padding-top: var(--section-padding);
  /* z-index: 1; */
}

.section2::before {
  content: "";
  position: absolute;
  display: block;
  top: -260px; /* probably have to change in media q */
  left: 0;
  right: 0;
  width: 100%;
  min-width: 100vw;
  margin-left: calc(50% - 50vw);

  height: 320px;
  /* background: url("@images/wave-2.svg"); */
  transform: scaleX(-1); /* flips the wave */
  background-size: cover;
  z-index: -1;
}
