*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  /* text-wrap: balance; */
}

#root,
#__next {
  isolation: isolate;
}

/* END OF RESET */

:root {
  /* --background: hsl(248, 97%, 64%); */
  --background2: #fff3d4;
  --surface: hsl(248, 96%, 67%);
  --surface2: hsl(248, 100%, 76%);
  --surface3: hsl(248, 51%, 44%);
  --surface3: hsl(217, 74%, 9%);
  --surface4: hsla(23, 39%, 44%, 0.75);

  --text-light: hsl(0, 0%, 100%);
  --text-dark: hsl(217, 74%, 9%);

  --accent-one: hsl(47, 100%, 68%);
  --accent-two: hsl(13, 90%, 58%);
  --accent-three: #9c6644;

  --max-width: 1260px;
  --padding-inline-max-width: 40px;
  --border-radius-standard: 15px;
}

body {
  background-color: var(--background);
  color: white;
  font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
header,
footer,
button {
  font-family: var(--font-comfortaa);
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

@media screen and (max-width: 550px) {
  h1 {
    font-size: 35px;
  }
}

h1,
h2,
h3,
h4 {
  line-height: 1.2;
}

p {
  /* font-weight: 450; */
  /* font-size: 17px; */
  font-family: var(--font-redhat-text);
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  all: unset;
  cursor: pointer;
}

strong {
  font-weight: 500;
}

/* HELPER CLASSES */
.hidden {
  display: none;
}

.showing {
  display: block;
}

.opacity1 {
  opacity: 1 !important;
}

.max-width-container {
  max-width: var(--max-width);
  padding-inline: var(--padding-inline-max-width);
  margin-inline: auto;
}

@media screen and (max-width: 600px) {
  .max-width-container {
    padding-inline: 20px;
  }
}

.first-section {
  padding-top: 15px;
}

.centered {
  text-align: center;
}

.marginsCenter {
  margin-inline: auto;
}

.heading-p {
  font-size: 20px;
  /* font-weight: 500; */
  /* color: var(--accent-three); */
  line-height: 1.4;
  max-width: 80ch;
  margin-inline: auto;
  margin-bottom: 25px;
}

/* REACT SLICK  */
.slick-slide div {
  outline: none; /* Removes the blue outline */
  /* gap: 5px; */
}
.slick-dots li button:before {
  color: orange;
}
