.notFoundPage {
  color: black;
  background-color: #fff3d4;
  height: 100vh;
  width: 100vw;
  margin-left: calc(50% - 50vw);
  padding-inline: 20px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.notFoundPage h2 {
  margin-top: 50px;
  text-decoration: underline;
}

.notFoundPage img {
  height: auto;
}
