.pageContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  text-align: center;
  font-family: var(--font-comfortaa);

  /* background-color: hsl(248, 96%, 67%); */
}

.title {
  position: relative;
}

.title svg {
  position: absolute;
  top: -85px;
  left: 50%;
  transform: translateX(-50%);
}

.buttonsContainer {
  font-family: var(--font-redhat-text);
  display: flex;
  gap: 15px;
}

.buttonsContainer a {
  /* border: 1px solid black; */
  padding: 15px 30px;
  border-radius: var(--border-radius-standard);
  background-color: var(--accent-one);
  color: black;
  font-weight: 500;
  transition: all 0.3s;
}

.buttonsContainer a:last-child {
  background-color: var(--background2);
}

.buttonsContainer a:hover {
  background-color: white;
  transform: translateY(-5px);
}

.drawing {
  position: absolute;
  bottom: 0;
  max-width: 280px;
  height: auto;
}

@media screen and (max-width: 475px) {
  .pageContainer {
    padding-bottom: 130px;
    padding-inline: 10px;
  }
  .buttonsContainer {
    flex-direction: column-reverse;
    gap: 10px;
  }
}
