*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
  color: var(--accent-three);
}

#root,
#__next {
  isolation: isolate;
}

/* END OF RESET */

:root {
  --background: #fff3d4;
  --surface: hsla(23, 39%, 44%, 0.75);

  --text: hsl(217, 74%, 9%);
  --text-light: hsl(0, 0%, 100%);
  --text-dark: hsl(217, 74%, 9%);

  --accent-one: hsl(47, 100%, 68%);
  --accent-two: hsl(13, 90%, 58%);
  --accent-three: #9c6644;

  --max-width: 1260px;
  --padding-inline-max-width: 40px;
  --section-margin: 50px;

  /* utili per layout temporanei: */
  --header-height: 85px;
  --footer-height: 201px;
}

body {
  background-color: var(--background);
  color: var(--text-dark);
  font-family: var(--font-redhat-text);
  /* font-size: 17px; */
}

h1,
h2,
h3,
h4,
h5,
header,
footer,
button {
  font-family: var(--font-comfortaa);
}

p {
  /* font-weight: 450; */
  /* font-size: 17px; */
  font-family: var(--font-redhat-text);
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  all: unset;
  cursor: pointer;
}

strong {
  color: var(--accent-three);
}

/* HELPER CLASSES */
.hidden {
  display: none;
}

.showing {
  display: block;
}

.opacity1 {
  opacity: 1 !important;
}

.max-width-container {
  max-width: var(--max-width);
  padding-inline: var(--padding-inline-max-width);
  margin-inline: auto;
}

@media screen and (max-width: 600px) {
  .max-width-container {
    padding-inline: 25px;
  }
}

.underlined {
  text-decoration: underline;
  transition: all 0.3s;
}
.underlined:hover {
  color: var(--accent-three);
}

.infoCardsSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-inline: auto;
  margin-bottom: 25px;
}

.infoCardsSection > div {
  max-width: 350px;
  /* min-height: 243px; */
  /* margin-inline: auto; */
  flex: 1 0 auto;
}

@media screen and (max-width: 1155px) {
  .infoCardsSection {
    /* flex-direction: column; */
    /* max-width: 60ch; */
  }
}

.pawUl li {
  list-style-type: none;
  position: relative;
  text-align: start;
}

.pawUl li::before {
  content: "";
  display: inline-block;
  background-image: url("/images/paw-print-fill.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  position: absolute;
  left: -30px;
  top: 4px;
}
