/* 
  HERO SECTION  
*/

.heroContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: calc(100vh - var(--header-height));
  max-height: 700px;

  position: relative;
}

.heroContainer > div {
  flex: 1 1 50%;
}

.textContainer {
  position: relative;
  z-index: 1;
  padding-bottom: 100px;
}

.textContainer h1 {
  color: var(--text-dark);
  margin-bottom: 10px;
}

.textContainer p {
  max-width: 46ch;
}

.heroButtonsContainer {
  display: flex;
  gap: 20px;
}

.firstLink {
  margin-bottom: 15px;
}

/* change to heroContainer pseudo? */
.heroImage {
  position: absolute;
  width: 100vw;
  height: 100%;
  margin-left: calc(50% - 50vw);
  background-image: url("../../../../public/images/tradizionale/hero_image.jpg");
  /* background-size: contain; */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* overlay */
.heroContainer::after {
  position: absolute;
  content: "";
  width: 100vw;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(255, 243, 212) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  margin-left: calc(50% - 50vw);
}

@media screen and (max-width: 1170px) {
  .heroButtonsContainer {
    flex-direction: column;
    gap: 10px;
    /* align-items: center; */
  }
}

@media screen and (max-width: 870px) {
  .textContainer {
    padding-bottom: 0;
  }
}

@media screen and (max-width: 600px) {
  .heroContainer {
    min-height: calc(100vh - var(--header-height));
  }
  .heroImage {
    background-position: 60%;
    background-size: cover;
  }
  .heroContainer > div {
    flex: auto;
  }
  .textContainer {
    flex: 2;
    text-align: center;
    width: 100%;
    margin-inline: auto;
  }
  .textContainer h1 {
    margin-bottom: 25px;
    max-width: 15ch;
    margin-inline: auto;
  }
  .textContainer p {
    max-width: 30ch;
    position: relative;
    margin-inline: auto;
    margin-bottom: 30px;
  }

  /* probably change for better layout */
  .textContainer p::after {
    position: absolute;
    content: "";
    left: -10px;
    right: -10px;
    top: -10px;
    bottom: -10px;
    background-color: hsla(42, 100%, 92%, 0.623);
    z-index: -1;
    border-radius: 15px;
  }
  .textContainer p:first-of-type::after {
    bottom: 0;
    border-radius: 15px 15px 0 0;
  }
  .textContainer p:last-of-type::after {
    border-radius: 0 0 15px 15px;
  }
  .heroButtonsContainer {
    align-items: center;
    margin-top: 35px;
    gap: 5px;
  }
}

/* 
  SECTION 2 
*/

.section2 {
  margin-block: var(--section-margin);
}

.section2 h2 {
  margin-bottom: 10px;
}

.section2 p:first-of-type {
  margin-bottom: 10px;
}

.section2 h3 {
  margin-bottom: 10px;
}

.section2 li {
  list-style-type: none;
  position: relative;
}

/* make into a component?  */
.section2 li::before {
  content: "";
  display: inline-block;
  background-image: url("/images/paw-print-fill.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  position: absolute;
  left: -30px;
  top: 4px;
}
