.heroContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 700px;

  position: relative;
}

.textContainer {
  flex: 1 1 50%;
  min-width: 300px;
  max-width: 70ch;
  position: relative;
  z-index: 1;
}

.heroImage {
  position: absolute;
  width: 100vw;
  height: 100%;
  margin-left: calc(50% - 50vw);
  background-image: url("../../../../public/images/tradizionale/cane_hero_1.jpg");
  background-size: cover;
  background-position: center;
}

/* .heroImage img {
  object-fit: cover;
  height: 100%;
  z-index: -1;
} */

.section2 {
  max-width: var(--max-width);
  padding-inline: var(--padding-inline-max-width);
  padding-bottom: 5000px;
  margin-inline: auto;
  color: var(--text-dark);
  position: relative;
  z-index: 1;
}

.section2::before {
  content: "";
  position: absolute;
  display: block;
  top: -260px; /* probably have to change in media q */
  left: 0;
  right: 0;
  width: 100%;
  min-width: 100vw;
  margin-left: calc(50% - 50vw);

  height: 320px;
  /* background: url("@images/wave-2.svg"); */
  transform: scaleX(-1); /* flips the wave */
  background-size: cover;
  z-index: -1;
}
