.button {
  border-radius: 50px;
  padding-block: 10px;

  font-weight: 700;
  font-size: 15px;

  transition: all 0.3s;

  display: flex;
  gap: 5px;
  align-items: center;
}

.white {
  background-color: white;
  color: var(--text-dark);
  box-shadow: 4px 4px 0px var(--accent-one);
}
.white:hover {
  box-shadow: 0px 0px 0px var(--accent-one);
  transform: translate(4px, 4px);
}

.dark {
  background-color: var(--surface);
  color: var(--accent-one);
  box-shadow: 4px 4px 0px var(--accent-one);
}
.dark:hover {
  box-shadow: 0px 0px 0px var(--accent-one);
  transform: translate(4px, 4px);
}

.light {
  background-color: var(--accent-one);
  color: var(--text-dark);
  box-shadow: 4px 4px 0px var(--surface3);
}
.light:hover {
  box-shadow: 0px 0px 0px var(--surface3);
  transform: translate(4px, 4px);
}

.accent-two {
  background-color: var(--accent-two);
  color: var(--text-light);
}

/* .accent-two:hover,
.light:hover,
.dark:hover {
  background-color: white;
  color: var(--text-dark);
} */
