.formContainer {
  padding-block: 25px;
}

.formContainer form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.formContainer input,
.formContainer textarea {
  padding: 10px 20px;
  border-radius: 15px;
  border: 1px solid var(--accent-three);
  /* color: var(--accent-three); */
}

.formContainer input:focus,
.formContainer textarea:focus {
  outline: 1px solid var(--accent-three);
}

.formContainer input::placeholder,
.formContainer textarea::placeholder {
  opacity: 0.75;
  color: var(--accent-three);
}

.formContainer textarea {
  resize: none;
}

.formContainer button {
  margin-inline: auto;
}

.successo {
  text-align: center;
  margin-inline: auto;
  /* display: flex; */
}

.successo img {
  margin-inline: auto;
  max-height: 100px;
  max-width: 100px;
  margin-bottom: 10px;
}
