.filtersContainer {
  position: relative;
}

.aggiungiFiltri {
  padding-top: 10px;
  /* margin-bottom: 30px; */
}

.aggiungiFiltri p {
  cursor: pointer;
  font-size: 20px;

  display: flex;
  place-content: center;
  max-width: 200px;
  margin-inline: auto;
  gap: 5px;

  border: 1px solid var(--accent-three);
  padding: 10px 15px;
  border-radius: 25px;
}

.aggiungiFiltri svg {
  transition: all 0.25s;
}

.showFiltersIcon {
  transform: rotate(-180deg);
}

.hideFiltersIcon {
  transform: rotate(0);
}

.filters {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
  transition: all 0.3s ease-in-out;
  position: relative;
  /* transform-origin: bottom; */
}

.filtersShown {
  will-change: contents;
  opacity: 1;
  max-height: 260px;
  margin-top: 15px;
  margin-bottom: 35px;
  z-index: 1;
}

.filtersHidden {
  opacity: 0;
  max-height: 0;
  margin-top: 30px;
  margin-bottom: 0;
  z-index: -1;
}

.filters fieldset {
  display: flex;
  gap: 15px;
  /* border: 1px solid var(--accent-three); */
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 55px;
  padding-inline: 20px;
  padding-bottom: 20px;
}

.filters legend {
  color: var(--accent-three);
  font-weight: 500;
  display: flex;
  gap: 5px;
}
.filters label {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.filters input[type="checkbox"] {
  appearance: none;
  min-width: 20px;
  min-height: 20px;
  cursor: pointer;

  border: 1px solid var(--text);
  border-radius: 4px;
  /* background-color: white; */
  position: relative;
}

.filters input[type="checkbox"]:checked {
  background-color: var(--accent-three);
}

.filters input[type="checkbox"]:checked::after {
  content: "✔"; /* Checkmark */
  color: var(--background);
  font-size: 14px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 1084px) {
  .filters {
    gap: 10px;
  }
  .filters label {
    line-height: 1.2;
  }
}

.svg {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.svg svg {
  max-width: 200px;
  max-height: 200px;
}
