.footer {
  padding-block: 20px;
  max-width: var(--max-width);
  padding-inline: var(--padding-inline-max-width);
  margin-inline: auto;
}

.socialsContainer {
  display: flex;
  gap: 15px;
}

.copyright {
  font-family: var(--font-comfortaa);
  font-size: 14px;
  text-align: end;
}
