.previewCardContainer {
  border-radius: 15px;
  overflow: hidden;
  transition: all 0.3s;
  will-change: contents;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.previewCardContainer:hover {
  transform: translateY(-10px);
}

.imageContainer {
  width: 300px;
  max-height: 300px;
  border-radius: 15px;
}

.imageContainer img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.textContainer {
  padding: 10px 20px 15px 20px;
  border-radius: 15px;
  position: relative;
}

.nome {
  font-size: 23px;
  font-weight: 700;
  font-family: var(--font-comfortaa);
  margin-bottom: 5px;
  text-align: center;
}

.stats1,
.stats2 {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

.stats1 {
  margin-bottom: 10px;
}

.stats2 {
  justify-content: center;
}

.sesso,
.età,
.taglia {
  display: flex;
  align-items: center;
  gap: 5px;
}

.taglia {
  font-weight: 400;
}

/* 
  CASA DOLCE CASA SECTION 
*/

.houseSvg {
  position: absolute;
  color: var(--background);
  opacity: 0.3;
  top: 5px;
  left: 10px;
}

.adottatoP {
  text-align: center;
  margin-bottom: 5px;
}
