.previewCardContainer {
  border-radius: 15px;
  overflow: hidden;
  transition: all 0.3s;
  will-change: contents;
}

.previewCardContainer:hover {
  transform: translateY(-10px);
}

.imageContainer {
  width: 300px;
  max-height: 300px;
  /* overflow: hidden; */
  border-radius: 15px;
}

.imageContainer img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.textContainer {
  padding: 10px 20px 15px 20px;
  /* background-color: var(--surface); */
  position: relative;
}

.nome {
  font-size: 23px;
  font-weight: 700;
  font-family: var(--font-comfortaa);
  margin-bottom: 5px;
  text-align: center;
}

.stats1,
.stats2 {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

.stats1 {
  margin-bottom: 10px;
}

.stats2 {
  justify-content: center;
}

.sesso,
.età,
.taglia {
  display: flex;
  align-items: center;
  gap: 5px;
}

.sesso,
.età {
  /* margin-bottom: 5px; */
}

.taglia {
  font-weight: 400;
}
