.cardContainer {
  position: relative;
  max-width: 500px;
  background-color: var(--accent-one);
  border-radius: var(--border-radius-standard);
  padding: 20px;
  padding-top: 90px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-top: 130px;

  color: black;
}

.imageContainer {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, -55%);
}

.imageContainer img {
  min-width: 187px;
}

.ballonContainer {
  position: absolute;
  /* top: -60%; */
  left: 50%;
  top: 0;
  transform: translate(-130%, -95%);
}
