.slickArrow {
  position: absolute;
  bottom: -25px;
  z-index: 1;
  cursor: pointer;
}

.slickPrev {
  left: 0px;
}

.slickNext {
  right: 10px;
}

.carouselContainer {
  position: relative;
  max-width: 400px;
  max-height: 500px;
  height: auto;
  user-select: none;
}

.carouselContainer.grabbing {
  cursor: grabbing;
}

.carouselContainer.grab {
  cursor: grab;
}

.carouselImageContainer {
  /* max-width: 400px; */
  max-height: 500px;
  overflow: hidden;
  padding-right: 10px;
}

.carouselContainer img {
  width: 100%;
  max-height: 500px;
  object-fit: cover;
  border-radius: 15px;
  outline: none;
  margin-inline: auto;
}

@media screen and (max-width: 950px) {
  .carouselContainer img {
    margin-inline: auto;
  }
  .carouselContainer {
    width: 55%;
    max-width: 80%;
  }
}

@media screen and (max-width: 600px) {
  .carouselContainer {
    width: 100%;
    max-width: 100%;
  }

  .carouselImageContainer {
    padding-right: 0;
  }
  .carouselContainer img {
    max-height: 400px;
  }
}
