/* TEMPORANEI */
.casaDolceCasaPage {
  height: calc(100vh - (var(--header-height) + var(--footer-height)));
  display: flex;
  justify-content: center;
}

.casaDolceCasaPage section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.title {
  text-align: center;
}

.title h1 {
  margin-bottom: 15px;
}

.casaDolceCasaPage img {
  max-width: 250px;
  height: auto;
}
