.stickyHeaderContainer {
  background-color: var(--background);
  width: 100vw;
  padding-block: 10px;
  margin-left: calc(50% - 50vw);
  position: sticky;
  top: 0;
  z-index: 100;
  transition: padding-block 0.3s, background-color 0.3s;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  transition: padding-block 0.3s;
}

.scrolled {
  background-color: hsla(248, 97%, 64%, 0.85);
}

.logoContainer a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.logoContainer a:hover svg {
  fill: var(--accent-one);
}

.logoContainer svg {
  transition: fill 0.3s;
}

.writtenLogo {
  margin-bottom: 3px;
}

.ctaButtons {
  display: flex;
  gap: 15px;
}

.mobileMenuButtons {
  display: flex;
  display: none;
}

/* MOBILE */

@media screen and (max-width: 750px) {
  .ctaButtons {
    display: none;
  }
  .scrolled {
    padding-block: 10px;
  }
}
